
h1 {
	width: 100%;
	text-align: center;
}

span {
	/*width: 150px;*/
	display: inline-block;
}

figure {
	width: 50px
}

figure.calc {
	width: 50px
}

figure.small {
	width: 50px;
}

p {
	width: 100%;
	text-align: center;
}
